<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title><%= title%></title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="css/styles.css" rel="stylesheet">
	</head>
	<body>
<header class="navbar navbar-bright navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"> </span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a href="/home" class="navbar-brand">Home</a> -->
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
          <% for(i=0;i<navb.length;i++){%>
              
        <li>
          <a href=<%= navb[i].link%>><%= navb[i].name%></a>
        </li>
        <%}%>
      </ul>
      <ul class="nav navbar-right navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">  <i class="glyphicon glyphicon-search"></i></a>
          <ul class="dropdown-menu" style="padding:12px;">
            <form class="form-inline">
              <button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button><input type="text" class="form-control pull-left" placeholder="Search">
            </form>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1><%= title%>
          <p class="lead"></p>
        </h1>
      </div>
      <div class="col-md-5">
        <!-- <div class="well well-lg">  -->
          <div class="row">
            <div class="col-sm-12">
              
              
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-spacer"> </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
</div>


<div class="container">
  <div class="row">
    
    <div class="col-md-12"> 
      
      <div class="panel">
        <div class="panel-body">
          
          
          
          <!--/stories-->
          <img style="padding-left: 9%;" src="/images/<%= img%>" class="img-fluid" alt="Responsive image"> <br> <br>
          
          <blockquote class="blockquote">
            <p class="mb-0">
              Libraries play an important role in providing mysterious knowledge. It leads us from the darkness of ignorance to the light of knowledge. As humans need moderate and balanced diets for their physical strength, learning became essential for mental strength similarly. Being in touch with the libraries will help the human from lust and temptation. Moreover, Libraries are the leading means of sharing knowledge than any other media.  Great thinkers like Dr Babasaheb Ambedkar had set up his own libraries. <br><br>Libraries are too awesome! Good reading and study habits can be established in the students through libraries as use of libraries helps to enhance the classroom experience. The library is frequently used for some research or in public issues. Libraries are essential in learning and acquiring progressive knowledge purposes. Libraries even help to learn a sense of responsibilities. The mistakes made in the past could be avoided in future, once learned from the history books.
                 <br><br>The increasing role of technology in libraries has a significant impact on the changing roles of librarians. A 21st-century librarian is required to be very much updated with technological changes. New age librarians are making greater use of emerging technologies in the library management and services to make it more popular and useful among the patrons. According to Neil Gaiman “Google can bring you back 100,000 answers, a librarian can bring you back the right one.” New age librarians are not mere bookworms, they are high-tech information professionals, and clever communicators, helping patrons dive in the oceans of information available in books and digital records. Librarians are teachers, problem solvers, innovators, collaborators, leaders, and learners.


              </p>
            <footer class="blockquote-footer foot text-center"><b> 
               </b> 


               <h1 class="foot"title="Source Title"> <b> Quotes On Library By Great Authors 
              </b></h1></footer>
          </blockquote>

          <blockquote class="blockquote text-center">
            <p class="mb-0">"Libraries store the energy that fuels the imagination. They open up windows to the world and inspire us to explore and achieve, and contribute to improving our quality of life."</p>
            <!-- <footer class="blockquote-footer"> <cite title="Source Title"> </cite></footer> -->
          </blockquote>
          
          <blockquote class="blockquote text-center">
            <p class="mb-0"></p>
            <footer class="blockquote-footer"><b>Sidney Sheldon </b> <cite title="Source Title"> </cite></footer>
          </blockquote>
          
          <blockquote class="blockquote text-center">
            <p class="mb-0">"You want weapons? We’re in a library. Books are the best weapon in the world. This room’s the greatest arsenal we could have. Arm yourself!"</p>
            <!-- <footer class="blockquote-footer"> <cite title="Source Title"> </cite></footer> -->
          </blockquote>
          
          <blockquote class="blockquote text-center">
            <p class="mb-0"></p>
            <footer class="blockquote-footer"><b>Russell T. Davies</b>  <cite title="Source Title"> </cite></footer>
          </blockquote>
    
          <blockquote class="blockquote text-center">
            <p class="mb-0">"To ask why we need libraries at all, when there is so much information available elsewhere, is about as sensible as asking if roadmaps are necessary now that there are so very many roads."</p>
            <!-- <footer class="blockquote-footer"> <cite title="Source Title"> </cite></footer> -->
          </blockquote>
          
          <blockquote class="blockquote text-center">
            <p class="mb-0"></p>
            <footer class="blockquote-footer"><b>Jon Bing </b>  <cite title="Source Title"> </cite></footer>
          </blockquote>
          
          
    

          <a href="/" class="btn btn-primary pull-right btnNext">More <i class="glyphicon glyphicon-chevron-right"></i></a>
        
          
        </div>
      </div>
                                                                                       
	                                                
                                                      
   	</div><!--/col-12-->
  </div>
</div>
                                                
                                                                                
<hr>

<div class="container" id="footer">
  <div class="row">
    <div class="col col-sm-12">
      
      <h1>Follow Us</h1>
      <div class="btn-group">
       <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
	   <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
	   <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
      </div>
      
    </div>
  </div>
</div>

<hr>

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-inline">
          <li><i class="icon-facebook icon-2x"></i></li>
          <li><i class="icon-twitter icon-2x"></i></li>
          <li><i class="icon-google-plus icon-2x"></i></li>
          <li><i class="icon-pinterest icon-2x"></i></li>
        </ul>
        
      </div>
      <div class="col-sm-6">
          <p class="pull-right">Built with <i class="icon-heart-empty"></i> at <a href="http://www.bootply.com">Bootply</a></p>      
      </div>
    </div>
  </div>
</footer>
	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>